@model IEnumerable<CodingTestApplication.Models.Branches>

@{
    ViewBag.Title = "Index";
}

<h2>Branch Lists</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BranchName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BranchName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.BranchID }) |
                @Html.ActionLink("Details", "Details", new { id = item.BranchID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.BranchID })
            </td>
        </tr>
    }

</table>

<p><a href="/Home/">Home</a></p>